#header
    background: url("../img/header.jpg")
    background-size: cover
    height: 100vh
    text-align: center
    color: white

ul.main-nav
    padding: 0
.main-nav
    display: flex
    margin-top: 20px
    margin-left: 0
    li
        list-style: none
    li:first-child
        margin-right: auto

    a
        color: white
        border-radius: 4px
        padding: 15px 40px
        text-decoration: none
        display: block
        font-weight: 900
        text-transform: uppercase
    a.logo
        margin-left: 0
        padding: 0
    a.download
        color: #000
        background: white
        box-shadow: 0 10px 10px rgba(0,0,0,0.2)
article
    width: 80%
    margin: 0 auto
    h1
        color: white
        margin-bottom: 10px
